@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
}

:root {
    --main-font: 'Pretendard-Regular';
    --primary: rgba(37, 168, 224, 1);
    --white: rgba(255, 255, 255, 1);
    --black: rgba(19, 19, 19, 1);
    --gray500: rgba(158, 158, 158, 1);
    --gray700: rgba(97, 97, 97, 1);
    --dusan: rgba(69, 99, 158, 1);
    --woman: rgba(219, 104, 132, 1);
    --yang: rgba(255, 229, 138, 1);
    --mamrgin-top: 6vh;
}

.nav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 0px 30px 0px rgba(0, 0, 0, 0.10);
    background-color: white;
}

.profile-container {
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.profile-img-wrap {
    width: 10vw;
    height: 10vw;
}

.profile-img-wrap > .profile-img {
    object-fit: cover;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;

    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10); 
}

.name-and-id {
    display: flex;
    flex-direction: column;
    column-gap: 6px;
    align-items: center;
    font-size: 1.4rem;
}

.name-lable {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
}

.id-label {
    color: var(--black);
    font-weight: 300;
    font-size: 0.8rem;
}

.follow-container {
    display: flex;
    align-items: center;
    gap: 90px;
}

.follower-container,
.following-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.following-label,
.follower-label {
    color: var(--black);
    text-align: center;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
}

.following-value,
.follower-value {
    color: var(--black);
    text-align: center;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400; 
}

.nav-list {
    margin: 6vh 0 0 2vw;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 7vh;
}

.nav-item {
    display: flex;
    gap: 1vw;
    align-items: center;
    color: var(--gray500);
    cursor: pointer;
    transition: 0.3s;
}

.nav-item > iconify-icon {
    font-size: 1.1rem;
}

.nav-item-lable {
    font-size: 1rem;
}

.nav-item:hover {
    color: var(--primary);
}

.mobile {
    display: none;
}

@media screen and (max-width: 1024px){

    html,
    body {
        width: 100%;
        overflow: scroll;
    }

    .desktop {
        display: none;
    }

    .nav {
        bottom: 0;
        width: 100%;
        max-width: none;
        height: 56px;
        flex-direction: row;
        box-shadow: none;
        background-color: rgba(0, 0, 0, 0);
    }

    .nav-list {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 56px;
        margin: 0;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 10px 0px 30px 0px rgba(0, 0, 0, 0.10);
        background-color: white;
    }

    .nav-item {
        flex-direction: column;
        cursor: pointer;
    }

    .nav-item > .nav-item-lable {
        font-size: 0.8rem;
    }

    .mobile {
        display: flex;
    }
}


