@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

:root {
    --main-font: 'Pretendard-Regular';
    --primary: rgba(37, 168, 224, 1);
    --white: rgba(255, 255, 255, 1);
    --black: rgba(19, 19, 19, 1);
    --gray500: rgba(158, 158, 158, 1);
    --gray700: rgba(97, 97, 97, 1);
    --dusan: rgba(69, 99, 158, 1);
    --woman: rgba(219, 104, 132, 1);
    --yang: rgba(255, 229, 138, 1);
    --mamrgin-top: 6vh;
}

.desktop-nav {
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 0px 30px 0px rgba(0, 0, 0, 0.10);
}

.profile-container {
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.profile-img-wrap {
    width: 250px;
    height: 250px;
}

.profile-img-wrap > .profile-img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.name-and-id {
    display: flex;
    flex-direction: column;
    column-gap: 6px;
    align-items: center;
    font-size: 1.4rem;
}

.follow-container {
    display: flex;
    align-items: center;
    gap: 90px;
}

.follower-container,
.following-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-list {
    margin: 6vh 0 0 2vw;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8vh;
}

.nav-item {
    display: flex;
    gap: 1vw;
    align-items: center;
    color: var(--gray500);
    cursor: pointer;
    transition: 0.3s;
}

.nav-item > iconify-icon {
    font-size: 1.5rem;
}

.nav-item-lable {
    font-size: 1.3rem;
}

.nav-item:hover {
    color: var(--primary);
}



