@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

:root {
    --main-font: 'Pretendard-Regular';
    --primary: rgba(37, 168, 224, 1);
    --primary-hover: rgb(32, 144, 193);
    --login-color: #06617F;
    --login-hover: #043f52;
    --white: rgba(255, 255, 255, 1);
    --black: rgba(19, 19, 19, 1);
    --gray300: rgb(195, 195, 195);
    --gray500: rgba(158, 158, 158, 1);
    --gray700: rgba(97, 97, 97, 1);
    --dusan: rgba(69, 99, 158, 1);
    --woman: rgba(219, 104, 132, 1);
    --yang: rgba(255, 229, 138, 1);
    --mamrgin-top: 6vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--main-font);
    outline: none;
    border: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

a {
    color: var(--black);
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 1024px) {

    .profile-container.mobile {
        position: fixed; 
        top: 56px;
        margin: 0 20px;
        display: flex;
        flex-direction: row;
    }

    .profile-container.mobile > .profile-img-wrap,
    .profile-container.mobile > .profile-img-wrap > .profile-img{
        min-width: 100px;
        min-height: 100px;
    }
  }