@keyframes pan {
    100% {
      background-position: 20% 80%;
    }
}

body {
    background-image: url('../../image/background.jpg');
    background-size: contain;
    overflow: hidden;
    height: 100%;
    color: var(--login-color);
    animation: pan 10s infinite alternate linear;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center ;
}

.login-container {
    width: 50%;
    height: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 11vh;
}

.slogans {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogans > h2 {
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 0.5rem;
}

.slogans > h1 {
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 1rem;
}

.forms {
    width: 100%;
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.input-container,
.input-container > * {  
    width: 100%;
    font-size: 1rem;
}

.input-container > input {
    height: 50px;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    border-bottom-color: var(--login-color);
}

.input-container > input::placeholder {
    color: var(--gray500);
    font-size: 0.8rem;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: 1rem;
}

.join-button {
    width: 25%;
    height: 50px;
    font-size: 1rem;
    outline: none;
    border: 1px solid;
    border-color: var(--login-color, );
    background-color: var(--login-color);
    color: var(--white);
    cursor: pointer;
    transition: 0.2s;
}

.join-button:hover {
    background-color: var(--login-hover);
}

.buttons > a {
    color: var(--login-color);
    text-decoration: underline;
    font-size: 0.8rem;
}

@media screen and (max-width: 1024px) {
    
    body {
        background: none;
    }

    .slogans > h2 {
        font-size: 1rem;
    }

    .slogans > h1 {
        font-size: 1.2rem;
    }

    .forms {
        padding: 0 20vw;
    }

    .login-container {
        width: 100%;
    }

    .join-button {
        width: calc(100% - 20vw * 2);
        font-size: 1rem;
    }

}